:root {
    --black-background-color: #a49995;
    --blue-background-color: #c6d8e8;
    --green-background-color: #a9c09a;
    --generic-background-color: #cac6c1;
    --generic-foreground-color: #150b00;
    --red-background-color: #da9e7e;
    --white-background-color: #f8f6dc;
}

body {
    color: ivory;
    background-color: #313131;
}
