:root {
    --black-background-color: #a49995;
    --blue-background-color: #c6d8e8;
    --green-background-color: #a9c09a;
    --generic-background-color: #cac6c1;
    --generic-foreground-color: #150b00;
    --red-background-color: #da9e7e;
    --white-background-color: #f8f6dc;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    color: ivory;
    background-color: #3b3a36;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
